.login-header {
  margin: 100px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.login-header__title {
  padding-bottom: 30px;
  font-size: 30px;
}

.login-header__text {
  width: 60%;
  color: gray;
  opacity: 0.8;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 30px;
}

.email-password {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 10px;
  width: 200px;
}

.email-password::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.email-password:focus {
  border-color: wheat;
  transition: 0.3s ease-in-out;
}

.login-button {
  margin: 20px;
  border: none;
  padding: 10px;
  background-color: tomato;
  cursor: pointer;
  border-radius: 15px;
  width: 200px;
}

.login-button:active {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

.account-find {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}
