.profile-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

.profile-screen__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 30px 0;
}

.profile-screen__title i {
  cursor: pointer;
}

.profile-screen__title span {
  color: black;
}

.profile-screen__title span:first-child {
  font-size: 26px;
}

.profile-screen__title span:nth-child(2) {
  font-size: 18px;
}

.profile-screen__title span:last-child {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  font-size: 26px;
}

.profile-screen__imagebox {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 260px;
}

.profile-screen-imagebox__image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-screen-imagebox__image:active {
  background-color: rgba(168, 168, 151, 0.3);
}

.profile-screen-imagebox__image img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-screen-imagebox__image img:active {
  background-color: rgba(168, 168, 151, 0.3);
}

.profile-screen-imagebox__text {
  margin-top: 10px;
  color: black;
  font-size: 18px;
}

.profile-screen__nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  top: 500px;
  border-top: 1px solid black;
  padding: 30px 0;
}

.profile-screen__nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.profile-screen__nav li:active {
  background-color: rgba(168, 168, 151, 0.3);
}

.profile-screen__nav span {
  margin-top: 25px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 3;
    transform: none;
  }
}
