.profile-screen {
  display: flex;
  justify-content: center;
}

.profile-screen__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 30px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 30px 0;
}

.profile-screen__title span {
  color: white;
}

.profile-screen__title span:first-child {
  font-size: 26px;
}

.profile-screen__title span:nth-child(2) {
  font-size: 18px;
}

.profile-screen__title span:last-child {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  font-size: 26px;
}
